{% extends 'base/main.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="header-bar">
            <a href="{% url 'notions' %}">&#8592; Назад</a>
        </div>

        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                <p>Вы уверены, что хотите удалить заметку? </p>
                <input class="button" type="submit" value="Delete"/>
            </form>
        </div>
    {% else %}
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
{% endblock content %}